@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --main-bg-color: #F8F8F8;
    --text-color: #1C1C1E;
    --accent-color: #FF8900;
    --navbar-font-size: 1.5rem;
}

/* STYLE RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}

table {
    border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-color: var(--main-bg-color);
    font-family: 'Poppins', 'Serif';
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-text{
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--navbar-font-size);
    letter-spacing: 4px;
}

.navbar-links ul{
    display: flex;
    flex-direction: row;
}

.navbar-links li{
    margin: 0px 15px 0px 5px;
}

.navbar-links a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--navbar-font-size);
    transition: 0.2s ease-in-out;
}

.navbar-links a:hover{
    background-color: var(--text-color);
    color: var(--main-bg-color);
    padding: 5px;
    transition: 0.2s ease-in-out;
}

.navbar-links .current-site{
    color: var(--main-bg-color);
    background-color: var(--text-color);
    padding: 5px;
}

.hero {
    position: relative;
    height: 40vh;
    width: 100vw;
    background-image: url(./assets/hero_img_blacked.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    

.hero-title{
    text-align: center;
    padding-top: 3em;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 2.5rem;
}

.hero-text{
    padding-top: 1.75em;
    text-align: center;
    font-size: 1.75rem;
    color: var(--main-bg-color);
    font-style: italic;
}

.our-goal{
    margin-top: 4.5rem;
}

.line{
    height: 4px;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
    background-color: var(--accent-color);
}

.our-goal-text{
    margin: 2.5rem 0 2.5rem 0;
    text-align: center;
}

.our-goal-text h1{
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}